<% if logged_in? -%>
  <div id="user-bar-action"><%=t 'session.logged_in_as' %> <%= link_to_current_user :content_method => :login %> (<%= link_to t('session.logout_button'), logout_path, { :title => t('session.logout_button') }    %>)</div>
<% else -%>
  <!--
  <div id="user-bar-greeting"><%= link_to_login_with_IP 'Not logged in', :style => 'border: none;' %></div>
  -->

  <div id="user-bar-action"  ><%= link_to t('session.login_button'),  login_path,  { :title => t('sessions.login_title') } %> /
                               <%= link_to t('users.signup_button'), signup_path, { :title => t('users.signup_title') } %></div>
<% end -%>
