<div id="left_panel">
  <span class="meta">
    <%= link_to t('bookmarks.new'), new_url_bookmark_sites_path %>
    | <%= link_to t('bookmarks.bookmarklet'), bookmarklet %>  
  </span>
  
  <ul id="bookmark_list">
    <% date_groups_order.each do |date| %>
      <li class="date_group">
      <h3><%= date %></h3>
      <ul class="bookmarks">
        <% date_groups[date].each do |bookmark_site| %>
          <li class="bookmark">
          <h4><%= "* " if bookmark_site.do_not_share? %><%= link_to bookmark_site.title, bookmark_site.mirror_url %></h4>
          <span class="time"><%= bookmark_site.updated_at.to_s(:time_only) %></span>
          <div class="tags">
            <% bookmark_site.tag_list.each do |tag| %>
              <%= link_to tag, tag_path(tag) %> 
            <% end %>
          </div>
          <div class="meta">
            <%= bookmark_site.user.login %>
            | <%= link_to t('bookmarks.original'), bookmark_site.url %>
            <% if controller.action_name != 'versions' %>
            | <%= link_to versions_tag(bookmark_site), versions_bookmark_site_path(bookmark_site) %>
            <% end %>
            <% if logged_in? && bookmark_site.user_id == current_user.id %>
            | <%= link_to t('common.edit'), edit_bookmark_site_path(bookmark_site) %>
            | <%= link_to t('common.delete'), bookmark_site, :confirm => t('common.confirm_delete'), :method => :delete %>
            <% end %>
          </div>
          </li>
        <% end %> 
      </ul>
      </li>
    <% end %>
  </ul>

  <%= will_paginate bookmarks %>

  <div class="meta"><%= link_to t('common.home'), bookmark_sites_path %></div>
</div>

<div id="right_panel">
  <% if @related_tags %>
    <h2><%=t 'bookmarks.related_tags' %></h2>
      <div class="tags">
        <% @related_tags.each do |tag| %>
          <%= link_to "+ #{tag.name} (#{tag.count})", related_tag_path(@current_tags, tag.name) %><br />
        <% end %>
      </div>
  <% end %>
  
  <h2><%=t 'bookmarks.all_tags' %></h2>
  <div class="tags">
    <% tag_cloud @tags, %w{css1 css2 css3 css4} do |tag, css_class| %>
      <%= link_to "#{tag.name} (#{tag.count})", tag_path(tag.name), :class => css_class %><br />
    <% end %>
  </div>
</div>
